@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&family=Satisfy&display=swap');
$navFont: 1.2rem;
$width: 100vw;
$contentWidth: 45vw;

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fcd8cc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #fff7ec;
    width: $width;
}