@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  background-color: rgba(123, 233, 247, 0.9);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}


.navbar div a {
  height: 65px;
  color: #000;
  display: block;
  float: left;
  text-decoration: none;
  font-size: 2rem;
  padding-top: 10px;
  font-family: "Satisfy", cursive;
  padding-left: 10px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .navbar div {
    width: 80vw;
  }
}



.navbar div {
  width: 45vw;
  margin: 0 auto;
}

.top h1 {
  font-size: 3.5rem;
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  text-align: center;
  padding-top: 100px;
  color: #fff;
}


.top div {
  margin: 0 auto;
  width: 400px;
  margin-top: 50px;
  display: flex;
}

.top div a {
  text-align: center;
  width: 200px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  background-color: #80fd21;
  color: #000;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}

.top div a:hover {
  scale: 0.9;
}

@media (max-width: 550px) {
  .top p {
    width: 80vw;
  }
}

.icons {
  width: 100vw;
  background-color: rgba(115, 145, 200, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 80px;
}

.icons .iconsBox {
  margin: 0 auto;
  width: 250px;
  height: 85px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons .iconsBox div {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.icons .iconsBox div a img:hover {
  scale: 1.3;
}

#htmlIcon {
  width: 65px;
  padding: 10px;
  transition: 0.2s ease-out;
}

#cssIcon {
  width: 52px;
  padding: 10px;
  transition: 0.2s ease-out;
}

#sassIcon {
  width: 70px;
  padding: 10px;
  transition: 0.2s ease-out;
}

section {
  margin: 150px auto;
  width: 45vw;
  position: relative;
}

section .text {
  width: 45vw;
}

section .text img {
  width: 45vw;
}

section .text h2 {
  position: absolute;
  width: 20vw;
  top: 15%;
  right: 30%;
  color: #319d16;
  font-size: 1.6rem;
  font-family: "Heebo", sans-serif;
  text-align: center;
}

section .text p {
  position: absolute;
  width: 20vw;
  top: 30%;
  right: 30%;
  color: #0db518;
  font-size: 1rem;
  font-family: "Heebo", sans-serif;
  text-align: center;
}

section form {
  width: 45vw;
  margin: 50px auto;
  direction: rtl;
}

section form input {
  width: 10vw;
  padding: 10px;
  margin-left: 30px;
  border: 0;
  border-bottom: 5px solid rgb(181, 234, 158);
}

section form label {
  margin-left: 10px;
  font-family: "Heebo", sans-serif;
}

@media (max-width: 1400px) {
  section {
    width: 80vw;
  }

  section .text {
    width: 80vw;
  }

  section .text img {
    width: 80vw;
  }

  section .text h2 {
    width: 40vw;
    top: 15%;
    right: 25%;
    font-size: 1.2rem;
  }

  section .text p {
    width: 40vw;
    top: 30%;
    right: 25%;
    font-size: 0.9rem;
  }

  section form {
    width: 80vw;
  }
}

@media (max-width: 550px) {
  section {
    width: 90vw;
  }

  section .text {
    width: 90vw;
  }

  section .text img {
    width: 90vw;
  }

  section .text h2 {
    width: 60vw;
    top: 3%;
    right: 18%;
    font-size: 1rem;
  }

  section .text p {
    width: 60vw;
    top: 9%;
    right: 18%;
    font-size: 0.9rem;
  }

  section form {
    width: 90vw;
  }

  section form label {
    margin-right: 45%;
  }

  section form input {
    width: 300px;
    display: block;
    margin: 0px auto;
    margin-bottom: 50px;
  }
}

footer {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(63, 130, 255, 0.9);
}

footer div {
  width: 160px;
  height: 120px;
  margin-left: 50px;
  margin-right: 50px;
}

footer div a {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
}

footer div a img {
  padding-left: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.3s ease-in-out;
}

footer div a img:hover {
  scale: 1.1;
}

footer p {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  text-align: center;
}

/*# sourceMappingURL=landingStyle5.css.map */