@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d5dae2;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    border-top: 5px solid #14506e;
    background-color: rgba(213, 226, 216, .9);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    z-index: 1;
}

.navbar div {
    width: 45vw;
    margin: 0 auto;
}

.navbar div a {
    height: 65px;
    color: #000000;
    display: block;
    float: left;
    text-decoration: none;
    font-size: 2rem;
    padding-top: 10px;
    font-family: 'Satisfy', cursive;
    padding-left: 10px;
    overflow: hidden;
}

.top {
    width: 100vw;
    background: #9ad8e9;
    margin: 0 auto;
    margin-top: 70px;
    padding-bottom: 100px;
    color: #000000;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    text-align: center;


}



.top p {
    color: #fff;
    margin-top: 50px;
    width: 45vw;
    margin: 0 auto;

    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    direction: rtl;
    font-size: 1.1rem;

}

.top h1 {
    font-size: 3.5rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    text-align: center;
    padding-top: 100px;
    color: #fff;


}



.top div a {
    text-align: center;
    width: 200px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    background-color: #1b9eb2;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

.top div a:hover {
    scale: 0.9;
    background-color: #14506e;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.top div {
    margin: 0 auto;
    width: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}


.icons .iconsBox {
    margin: 0 auto;
    width: 200px;
    height: 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons .iconsBox div {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.icons .iconsBox div a img:hover {
    scale: 1.3;
}

#htmlIcon {
    width: 65px;
    padding: 10px;
    transition: 0.2s ease-out;
}

#cssIcon {
    width: 52px;
    padding: 10px;
    transition: 0.2s ease-out;
}

.coffee {
    display: flex;
    flex-wrap: wrap;
    margin: 150px auto;
    background-color: #fff;
    margin-top: 100px;
    margin-left: 50px;

    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    opacity: 1;
}



.coffee div img {
    width: 700px;
}

.coffee section {
    direction: rtl;
    padding: 50px;
    width: 500px;
}

.coffee section h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #14396e;
}

.coffee section p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-family: 'Heebo', sans-serif;
    color: #143c6e;
}

.icons {
    width: 100vw;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: #fff;
    margin-top: 80px;

    margin-bottom: 80px;
}

.coffee section input {
    margin: 10px auto;
    width: 250px;
    height: 40px;
    border-bottom: 3px solid #00639d;
}

.coffee section .btn {
    margin: 40px auto;
    width: 150px;
    height: 40px;
}



.coffee section label {
    color: #000;
    font-size: 1rem;
    font-family: 'Heebo', sans-serif;
}



@media (max-width:1200px) {
    .navbar div {
        width: 80vw;
    }

    .top p {
        width: 80vw;
    }

    section {
        width: 80vw;
    }

    footer div {
        margin-right: 10px;
        margin-left: 10px;
        width: 140px;
        height: 100px;
    }

    .coffee {
        width: 60vw;
    }

    .coffee div img {
        width: 60vw;
    }
}

@media (max-width:550px) {
    .coffee {
        width: 85vw;
    }

    .coffee div img {
        width: 85vw;
    }
}